extends layout

block content
    div( class='membership')
        p(class='membership-statement') Apply
        form(class='membership-form' method='POST' action='/membership')
            label(class='passcode-label' for='passcode') Passcode:
            input(class='membership-passcode' name='passcode' id='passcode' type='password')
            input(class='membership-button' type='submit' value='Apply')