extends layout

block content
    p Update your Message
    form(method='POST' action=url)
        label(for='title') Title
        input(value=title name='title' id='title' minlength=1)
        label(for='content') Content
        textarea(name='content' id='content' minlength=1)=content
        input(class='submit' type='submit' value='Post')