extends layout

block content
    p Send a Message
    form(method='POST' action='/')
        label(for='title') Title
        input(placeholder='Guide to the Internet' name='title' id='title' minlength=1)
        label(for='content') Content
        textarea(placeholder='Welcome to my blog where today I...' name='content' minlength=1 id='content')
        input(class='submit' type='submit' value='Post')