extends layout

block content
    p Sign in
    form(method='POST' autocomplete='current-password'  action='/sign-in')
        label(for='username') Username
        input(placeholder='bob.jones@gmail.com' name='username' id='username')
        label(for='password') Password
        input(placeholder='bobjones3' name='password' id='password' type='password')
        input(class='submit' type='submit' value='Sign in')